@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  color: white;
  background-color: #fd5c96;
}
body {
  font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
  background-color: #0d1117;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  padding-bottom: 4vh;
  font-size: 1rem;
}

.taskListSpacer {
  margin: 0 auto;
  padding: 0 5%;
}

.container {
  background: white;
  max-width: 550px;
  margin: 30px auto;
  padding: 30px;
  overflow: auto;
  min-height: 200px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.69rem;
}

.tasks {
  padding-top: 15px;
  border-top: 2px solid #baba;
}

.finishedTasks {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 2px solid #baba;
}

.task {
  background:#f4f4f4;
  margin: 10px 5px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  overflow: auto;
  font-size: 1.1em;
}
.task:hover {
  box-shadow: 1px 1px 5px 1px #a3afbdb2;
}
.task.finished {
  background-color: #0d1117;
  color: white;
  border-left: none;
}
.task.finished:hover {
  /* box-shadow: 2px 2px 5px 2px #a3afbdb2; */
  background-color: #424242;
  box-shadow: none;
}
.task p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 7px;
}
.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1em;
}
.task h3 div {
  color: #fd5c96;
}
.task.reminder {
  border-left: 5px solid green;
}

.add-form {
  margin: 20px 30px;
}

.form-control {
  margin: 10px 0;
  font-weight: bold;
  font-size: 1.1em;
}
.form-control label {
  display: block;
  margin-bottom: 10px;
}
.form-control input {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  font-family: 'IBM Plex Sans';
  font-size: 1em;
}
.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-control-check label {
  flex: 1;
}
.form-control-check input {
  flex: 2;
  height: 20px;
}

.footer {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.1rem;
}
.footer p {
  color: white;
  margin-bottom: 10px;
}
.footer a {
  text-decoration: none;
  background-color: #0d1117;
  transition: all 0.2s ease 0s;
  border-radius: 5px;
  padding: 4%;
}
.footer a:hover {
  background-color: #424242;
}
.footer a span {
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(90deg, #fd5c96, #bb43a7);
  background-clip: text;
}

.about {
  color: white;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  font-size: 1.1rem;
}

.btn {
  width: 98%;
  background: linear-gradient(90deg, #fd5c96, #bb43a7);
  color: #fff;
  border: none;
  padding: 12px 0;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  transition: all 0.1s ease-in-out 0s;
}
.btn:active {
  transform: scale(.98);
}
.btn:hover {
  box-shadow: 1px 1px 5px 1px #a3afbdb2;
}
.btn-add {
  display: block;
  padding: 30px 0;
  background: #00000000;
  background-color:white;
  color: #999999;
  font-size: 1.1rem;
  /* border: dashed 2.5px #cccccc; */
}
.btn-add:hover {
  box-shadow: none;
  background-color: #f4f4f4;
  /* border-color: #a0a0a0; */
}
.btn-block {
  display: block;
  width: 98%;
  background: linear-gradient(90deg, #fd5c96, #bb43a7);
}

.icon {
  text-decoration: none;
  color: grey;
  cursor: pointer;
  transition: all .1s ease 0s;
}
.icon:hover {
  color: #fd5c96;
  scale: 1.1;
}