@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
}
.content {
  min-height: 100vh;
  padding: 50px 0;
  border-radius: 20px;
  background: linear-gradient(90deg, #fd5c96, #bb43a7);
}

.taskListSpacer {
  margin: 0 auto;
  padding: 0 5%;
}

.container {
  background: white;
  max-width: 550px;
  margin: 30px auto;
  padding: 30px;
  overflow: auto;
  min-height: 200px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tasks {
  padding-top: 15px;
  border-top: 2px solid #baba;
  font-size: 150%;
}

.finishedTasks {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 2px solid #baba;
}

.task {
  font-size: .8em;
  background:#f4f4f4;
  margin: 10px 5px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.2s ease 0s;
  overflow: auto;
}
.task:hover {
  box-shadow: 1px 1px 5px 1px #a3afbdb2;
}
.task.reminder {
  border-left: 5px solid green;
}
.task.finished {
  background: #4DD8F8;
  border-left: none;
}
.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*
.task p {
  align-items: center;
  padding-right: 2px;
  padding-top: 5px;
} */

.add-form {
  margin: 20px 30px;
}

.form-control {
  margin: 10px 0;
  font-weight: bold;
  font-size: .9em;
}
.form-control label {
  display: block;
  margin-bottom: 10px;
}
.form-control input {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  font-size: .9em;
}
.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-control-check label {
  flex: 1;
}
.form-control-check input {
  flex: 2;
  height: 20px;
}


.footer {
  margin: 30px auto;
  text-align: center;
  /* margin-top: 30px; */
}
.footer p {
  margin-bottom: 5px;
}
.footer a {
  padding: 4px;
  text-decoration: none;
  color: black;
  border-radius: 2px;
  background: linear-gradient(90deg, #fd5c96, #bb43a7);
  box-shadow: none;  
  transition: box-shadow 0.2s ease 0s;
  font-size: 2vh;
}
.footer a:hover {
    box-shadow: 1px 1px 5px 1px #a3afbdb2;
}

.about {
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  font-size: 2.5vh;
}

.btn {
  width: 98%;
  background: linear-gradient(90deg, #fd5c96, #bb43a7);
  color: #fff;
  border: none;
  padding: 12px 0;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  font-family: inherit;
  transition: all 0.1s ease-in-out 0s;
}
.btn:active {
  transform: scale(.98);
}
.btn:hover {
  box-shadow: 1px 1px 5px 1px #a3afbdb2;
}
.btn-add {
  display: block;
  padding: 30px 0;
  background: #00000000;
  background-color:white;
  color: #999999;
  font-size: .8em;
  /* border: dashed 2.5px #cccccc; */
}
.btn-add:hover {
  box-shadow: none;
  background-color: #f4f4f4;
  /* border-color: #a0a0a0; */
}
.btn-block {
  display: block;
  width: 98%;
  background: linear-gradient(90deg, #fd5c96, #bb43a7);
}

.icon {
  color: grey;
  cursor: pointer;
  transition: all .1s ease 0s;
}
.icon:hover {
  color: #ef579a;
  scale: 1.1;
  /* color: #4dd8f8; */
}